<a href="https://colab.research.google.com/github/sanaahmad4222/python/blob/main/List_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1: Create a list of 7 numbers
numbers = [3, 8, 17, 12, 7, 24, 19]

print("Even numbers are:")
for num in numbers:
    if num % 2 == 0:
        print(num)

Even numbers are:
8
12
24

In [ ]:
# Q2: Create a list of 5 student names
students = ["Ali", "Sara", "Ahmed", "Sana", "Bilal"]

name = input("Enter a student name: ")

if name in students:
    print("Found")
else:
    print("Not Found")

Enter a student name: Sana
Found

In [ ]:
# Q3: Create a list of 6 numbers
numbers = [12, 45, 5, 96, 23, 56]

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("Maximum number:", maximum)
print("Minimum number:", minimum)

Maximum number: 96
Minimum number: 5

In [ ]:
# Q4: Create a list
numbers = [2, 4, 6, 8, 10]

# Create a new list with each number multiplied by 3

new_list = []
for num in numbers:
    new_list.append(num * 3)

print("New list:", new_list)

New list: [6, 12, 18, 24, 30]

In [ ]:
# Q5: Create a nested list
students = [["Ali", 20], ["Sara", 22], ["Ahmed", 19]]

print("Student Names:")
for student in students:
    print(student[0])

Student Names:
Ali
Sara
Ahmed

In [ ]:
# Q6: Create a list of numbers
numbers = [12, 45, 7, 89, 23, 67]

largest = numbers[0]
for num in numbers:
    if num > largest:
        largest = num

second_largest = None
for num in numbers:
    if num != largest:
        if second_largest is None or num > second_largest:
            second_largest = num

print("Second largest number:", second_largest)

Second largest number: 67

In [ ]:
# Q7: Create a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print("Numbers at odd indexes:")
for i in range(len(numbers)):
    if i % 2 != 0:
        print(numbers[i])

Numbers at odd indexes:
2
4
6
8

In [ ]:
# Q8: Create a list of words
words = ["Python", "is", "awsome", "to", "learn"]

sentence = " ".join(words)

print(sentence)

Python is awsome to learn