<a href="https://colab.research.google.com/github/sanaahmad4222/python/blob/main/Panadas12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Titanicdataset.csv")

In [ ]:
import os

# List files in the root of MyDrive
print(os.listdir('/content/drive/MyDrive'))

['Colab Notebooks', 'Getting started.pdf', 'Classroom', 'Assignment 1 (2).gdoc', 'Assignment 1 (1).gdoc', 'Assignment 1.gdoc', 'Titanicdataset - Titanicdataset (1).gsheet', 'Titanicdataset.csv', 'Titanicdataset (2).gsheet', 'Titanicdataset - Titanicdataset.gsheet', 'IRIS.gsheet', 'Titanicdataset (1).gsheet', 'Titanicdataset.gsheet', 'heart_disease_dataset (1).gsheet', 'heart_disease_dataset.gsheet', 'Abc.csv']

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,predicted embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,S